:root{
    --base-color:#a99486;
    --headline-color:#8fa0bb; 
    --headline-color2:#5f4c3f;
    --background-color: #f2e9e4;

    --base-font: 'Raleway', sans-serif;
    --accent-font:'Playfair Display', serif;;

}
/*#cbc0d3/*